.theme-dark {
  background-color: #222;
  color: white;
}

.theme-dark .login-background {
  background-color: dimgray;
}

.theme-dark .login-container {
  background-color: #252627;
}

.theme-dark .btn-toggle-theme {
  background-color: #222;
}

.theme-dark .container__measure-ingredient {
  background-color: dimgray;
}

.theme-dark .instructions {
  background-color: dimgray;
}

.theme-dark .page-title {

  color: blanchedalmond;
}

.theme-dark .container__recipe {
  background-color: rgb(41, 41, 41);
}

.theme-dark .filter-btn {
  color:  #fcc436;
  background-color: rgb(61, 61, 61);
}

.theme-dark .favorite-clipboard-msg {
  color:  #fcc436;
  background-color: rgb(61, 61, 61);
}

.theme-dark .container__header-title {
  background-color: #252627;
}

