.theme-dark {
  background-color: #222;
  color: white;
}

.theme-dark .login-background {
  background-color: dimgray;
}

.theme-dark .login-container {
  background-color: #252627;
}

.theme-dark .btn-toggle-theme {
  background-color: #222;
}

.theme-dark .container__measure-ingredient {
  background-color: dimgray;
}

.theme-dark .instructions {
  background-color: dimgray;
}
