.theme-light {
  background-color: white;
  color: #222;
}

.theme-light .login-background {
  background-color: #fcdc36;
}

.theme-light .login-container {
  background-color: white;
}

.theme-light .btn-toggle-theme {
  background-color: white;
}

@media ( max-width : 650px ) {

  .theme-light .btn-toggle-theme {
    background-color: transparent;
  }
}

@media ( max-width : 360px ) {

  .theme-light .btn-toggle-theme {
    background-color: transparent;
  }

  .theme-light .container__measure-ingredient {
    background-color: white;
  }

  .theme-light .instructions {
    background-color: white;
  }
}

@media ( max-width : 300px ) {

  .theme-light .btn-toggle-theme {
    background-color: white;
  }
}
