@media screen and ( max-width : 360px ) {

  /* .recipe-filtered-name-text {
    font-size: 0.9rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .filtered-recipe-container {
    width: 150px;
  } */

  .recipe-filtered-name-text {
    font-size: 1.5rem;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .filtered-recipe-container {
    width: 80%;
  }
}

/* @media screen and ( min-width : 361px ), screen and ( min-height : 641px ) {

  .recipe-filtered-name-text {
    font-size: 1.5rem;
    margin-top: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .filtered-recipe-container {
    width: 80%;
  }
} */
