.footer {
  background-color: #260f4b;
  bottom: 0;
  padding: 0.3em;
  position: fixed;
  width: 100%;
}

.footer-bar {
  display: flex;
  justify-content: space-around;
}

.icon-footer {
  color: #fcdc36;
  font-size: 2em;
}

.icon-footer:hover {
  color: white;
  scale: 1.1;
  transition: 0.5s;
}

