.container__header {
  display: flex;
  flex-direction: column;
}

.container__header-logo-buttons {
  align-items: center;
  background-color: #fcdc36;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.container__header-logo {
  align-self: flex-start;
}

.container__header-buttons {
  align-items: center;
  display: flex;
}

.header-buttons {
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 15px;
}

.container__header-title {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container__header-search {
  display: flex;
  justify-content: center;
}

.page-title {
  color: #260f4b;
  text-transform: uppercase;
}

@media screen and ( max-width : 360px ) {

  .container__header {
    display: flex;
    flex-direction: column;
  }

  .container__header-logo-buttons {
    align-items: center;
    background-color: #fcdc36;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .container__header-logo {
    align-self: flex-start;
  }

  .container__header-buttons {
    align-items: center;
    display: flex;
  }

  .header-buttons {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px;
  }

  .container__header-title {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .container__header-search {
    display: flex;
    justify-content: center;
  }

  .page-title {
    color: #260f4b;
    text-transform: uppercase;
  }
}

