@media screen and ( width : 360px ) and ( height : 640px ) {

  .login-page-div {
    align-items: center;
    display: flex;
    position: absolute;
    top: 50%;
    flex-direction: column;
    justify-content: center;
  }


  .login-background {
    align-items: center;

    /* background-image: url('../images/comidas-login.jpg'); */
    background-image: url('../images/loginBackground.jpg');

    /* imagem retirada de
    <a href="https://www.freepik.com/free-photo/notebook-recipe-tomato-farfalle-garlic
    -onion-mortar-pepper-top-view-copy-space_7824788.htm#query=recipe%20background&position=
    14&from_view=keyword&track=ais">
    Image by stockking</a> on Freepik */
    background-size: 100% 100%;
    display: flex;
    height: 100dvh;
    justify-content: center;
  }

  .img-logo {
    background-image: url('../images/logoHungry.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 50%;
    height: 140px;
    overflow: hidden;
    position: absolute;
    top: 25%;
    width: 300px;
  }

  .inputs-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-input {
    background-color: rgba(255, 255, 255, 0.542);
    border: none;
    border-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: black;
    margin: 1px;
    width: 300px;
  }

  .login-input::placeholder {
    color: dimgray;
    text-align: center;
    text-shadow: 0.1px  -0.1px 0 white , -1.5px 1.5px  0 white , 0.1px 0.1px  0 white;
  }

  .login-text {
    color: white;
    text-shadow: 0.5px  -0.5px 0 black , -2.5px 2.5px  0 black , 0.1px 0.1px  0 black;
  }

  .login-submit-btn:enabled {
    background-color: yellow;
    border: none;
    border-radius: 10px;
    width: 300px;
  }

  .login-submit-btn:disabled {
    border-radius: 10px;
    width: 300px;
  }
}

@media screen and ( min-width : 361px ), screen and ( min-height : 641px ) {

  .login-page-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


  .login-background {
    align-items: center;

    /* background-image: url('../images/comidas-login.jpg'); */
    background-image: url('../images/loginBackground.jpg');

    /* imagem retirada de
    <a href="https://www.freepik.com/free-photo/notebook-recipe-tomato-farfalle-garlic
    -onion-mortar-pepper-top-view-copy-space_7824788.htm#query=recipe%20background&position=
    14&from_view=keyword&track=ais">
    Image by stockking</a> on Freepik */
    background-size: 100%;
    display: flex;
    height: 100dvh;
    justify-content: center;
  }

  .inputs-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .login-input {
    background-color: rgba(255, 255, 255, 0.542);
    border: none;
    border-color: transparent;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: black;
    margin: 1px;
    width: 300px;
  }

  .login-input::placeholder {
    color: dimgray;
    text-align: center;
    text-shadow: 0.1px  -0.1px 0 white , -1.5px 1.5px  0 white , 0.1px 0.1px  0 white;
  }

  .login-text {
    color: white;
    text-shadow: 0.5px  -0.5px 0 black , -2.5px 2.5px  0 black , 0.1px 0.1px  0 black;
  }

  .login-submit-btn:enabled {
    background-color: yellow;
    border: none;
    border-radius: 10px;
    width: 300px;
  }

  .login-submit-btn:disabled {
    border-radius: 10px;
    width: 300px;
  }
}
