.login-page-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 50%;
  max-height: 640px;
  max-width: 360px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.inputs-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
