@media screen and ( max-width : 360px ) {

  .category-btn-container {
    display: flex;
    justify-content: center;
  }

  .all-meals-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/allFoodIcon.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 80%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: rgba(75, 75, 75);
    display: flex;
    font-size: 0.5rem;
    height: 50px;
    justify-content: center;
    margin: 0 2px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 50px;
  }

  .Beef-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/beef.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 75%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.5rem;
    height: 50px;
    justify-content: center;
    margin: 0 2px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 50px;
  }

  .Breakfast-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/breakfast.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 70%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.5rem;
    height: 50px;
    justify-content: center;
    margin: 0 2px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 50px;
  }

  .Chicken-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/chickenIcon.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 75%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.5rem;
    height: 50px;
    justify-content: center;
    margin: 0 2px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 50px;
  }

  .Dessert-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/dessert.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 70%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.5rem;
    height: 50px;
    justify-content: center;
    margin: 0 2px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 50px;
  }

  .Goat-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/goatIcon.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 75%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.5rem;
    height: 50px;
    justify-content: center;
    margin: 0 2px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 50px;
  }
}

@media screen and ( min-width : 361px ), screen and ( min-height : 641px ) {

  .category-btn-container {
    display: flex;
    justify-content: center;
  }

  .all-meals-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/allFoodIcon.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 85%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    color: rgb(75, 75, 75);
    display: flex;
    font-size: 0.8rem;
    height: 100px;
    justify-content: center;
    margin: 0 20px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
  }

  .Beef-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/beef.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 80%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.8rem;
    height: 100px;
    justify-content: center;
    margin: 0 20px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
  }

  .Breakfast-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/breakfast.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 75%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.8rem;
    height: 100px;
    justify-content: center;
    margin: 0 20px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
  }

  .Chicken-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/chickenIcon.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 78%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.8rem;
    height: 100px;
    justify-content: center;
    margin: 0 20px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
  }

  .Dessert-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/dessert.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 75%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.8rem;
    height: 100px;
    justify-content: center;
    margin: 0 20px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
  }

  .Goat-btn-filter {
    align-items: flex-end;
    background-color: transparent;
    background-image: url('../images/goatIcon.svg');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 95% 80%;
    border: none;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    font-size: 0.8rem;
    height: 100px;
    justify-content: center;
    margin: 0 20px;
    text-shadow: 1.5px 1.5px 1px rgba(0, 0, 0, 0.3);
    width: 100px;
  }
}
