/* general styles */
.container__recipe-details {
  height: 100vh;
}

.container__recipe-ingredients {
  margin: 20px;
  padding: 20px;
}

.container__recipe-ingredients h3 {
  text-align: center;
}

.container__measure-ingredient {
  background-color: whitesmoke;
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
}

.container__measure-ingredient > .column {
  flex-direction: column;
  margin-left: 20px;
}

.container__recipe-header {
  margin-left: auto;
  margin-right: auto;
  max-height: 600px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.recipe-photo {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.recipe-title {
  color: white;
  font-size: 50px;
  font-weight: 700;
  left: 50%;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: 70%;
  transform: translate(-50%, -50%);
  text-shadow: -2px 1px 1px rgba(0, 0, 0, 0.5);
}

.recipe-category {
  color: #fcc436;
  font-size: 24px;
  font-weight: 500;
  left: 8%;
  position: absolute;
  top: 10%;
}

.container__recipe-instructions h3 {
  text-align: center;
}

.instructions {
  background-color: whitesmoke;
  border: 1px solid #b1b1b1;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
  padding: 20px;
  width: 90%;
}

.container__youtube {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.recommendation-card img {
  max-height: 300px;
}

.container__start-recipe-btn {
  display: flex;
  justify-content: flex-end;
}

.start-recipe-btn {
  align-items: center;
  background-color: rgba(200, 200, 200, 0.7);
  border: none;
  border-radius: 10px;
  bottom: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 40px;
  position: fixed;
  z-index: 100;
}

.share-recipe-btn {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.384);
  border: none;
  border-color: transparent;
  border-radius: 10px;
  display: flex;
  height: 40px;
  position: absolute;
  right: 60px;
  /* top: 80px; */
}

.favorite-recipe-btn {
  align-items: center;
  background-color: transparent;
  border: none;
  border-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  height: 40px;
  position: absolute;
  right: 10px;
  top: 67%;
}

.clipboard-msg {
  position: absolute;
  right: 110px;
  top: 68%;
}

@media ( min-width : 800px ) and ( max-width : 1000px ) {

  .container__recipe-ingredients {
    margin: auto;
    width: 100%;
  }

  .btn-theme-container {
    left: 90%;
    top: 25px;
  }

  .recipe-title {
    top: 50%;
  }

  .recipe-category {
    font-size: 35px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
    top: 4%;
  }

  .container__recipe-instructions {
    width: 95%;
    margin: auto;
  }

  .share-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 68%;
    width: 4.5%;
    display: flex;
    justify-content: center;
  }

  .clipboard-msg {
    position: absolute;
    left: 30px;
    top: 68%;
    font-size: 1.8rem;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .favorite-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 68%;
    width: 4.5%;
    display: flex;
    justify-content: center;
  }

  .container__recipe-recommended {
    padding-bottom: 40px;
  }

  .start-recipe-btn {
    background-color: #fcc436;
    border-radius: 10px;
    bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    left: 32px;
    position: fixed;
    width: 90%;
  }
}

@media ( max-width : 800px ) {

  .container__recipe-ingredients {
    margin: auto;
    width: 100%;
  }

  .btn-theme-container {
    left: 90%;
    top: 25px;
  }

  .recipe-title {
    top: 50%;
  }

  .recipe-category {
    font-size: 35px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
    top: 4%;
  }

  .container__recipe-instructions {
    width: 95%;
    margin: auto;
  }

  .share-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 68%;
    width: 6%;
    display: flex;
    justify-content: center;
  }

  .clipboard-msg {
    position: absolute;
    left: 30px;
    top: 68%;
    font-size: 1.8rem;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .favorite-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 68%;
    width: 6%;
    display: flex;
    justify-content: center;
  }

  .container__recipe-recommended {
    padding-bottom: 40px;
  }

  .start-recipe-btn {
    background-color: #fcc436;
    border-radius: 10px;
    bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    left: 32px;
    position: fixed;
    width: 90%;
  }
}

@media ( max-width : 650px ) {
  .container__recipe-ingredients {
    margin: auto;
    width: 100%;
  }

  .btn-theme-container {
    left: 88%;
    top: 20px;
  }

  .container__measure-ingredient {
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 95%;
  }

  .recipe-title {
    top: 50%;
  }

  .recipe-category {
    font-size: 31px;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
    top: 4%;
  }

  .container__recipe-recommended {
    padding-bottom: 40px;
  }

  .start-recipe-btn {
    background-color: #fcc436;
    border-radius: 10px;
    bottom: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    justify-content: center;
    left: 32px;
    position: fixed;
    width: 90%;
  }

  .share-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 68%;
    width: 7%;
    display: flex;
    justify-content: center;
  }

  .clipboard-msg {
    position: absolute;
    left: 30px;
    top: 68%;
    font-size: 1.3rem;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .favorite-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 68%;
    width: 7%;
    display: flex;
    justify-content: center;
  }

}

@media screen and ( max-width : 360px ) {

  .container__recipe-ingredients {
    margin: auto;
    width: 100%;
  }

  .btn-theme-container {
    position: absolute;
    left: 80%;
    top: 14px;
  }

  .container__measure-ingredient {
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
  }

  .recipe-title {
    top: 50%;
  }

  .recipe-category {
    font-size: 26px;
    top: 4%;
  }

  .container__recipe-recommended {
    padding-bottom: 40px;
  }

  .recommendation-card img {
    max-height: 300px;
  }

  .share-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 38%;
    width: 12%;
    display: flex;
    justify-content: center;
  }

  .clipboard-msg {
    position: absolute;
    left: 30px;
    top: 39%;
    font-size: 1.3rem;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .favorite-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 38%;
    width: 12%;
    display: flex;
    justify-content: center;
  }

  .start-recipe-btn {
    left: 17px;
  }
}

@media ( max-width : 300px ) {

  .btn-theme-container {
    position: absolute;
    left: 80%;
    top: 10px;
  }

  .recipe-title {
    font-size: 40px;    
  }

  .recipe-category {
    font-size: 25px;
    top: 5%;
  }

  .share-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 31%;
    width: 12%;
    display: flex;
    justify-content: center;
  }

  .clipboard-msg {
    position: absolute;
    left: 30px;
    top: 31%;
    font-size: 1.2rem;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);
  }

  .favorite-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    top: 31%;
    width: 12%;
    display: flex;
    justify-content: center;
  }
  
  .start-recipe-btn {
    left: 14px;
  }

  .container__recipe-recommended {
    margin: auto;
    width: 90%;
    padding-bottom: 40px;
  }

  .container__recipe-ingredients h3 {
    text-align: center;
    margin-left: 10px;
  }
}
