/* stylelint-disable selector-no-qualifying-type */

@media screen and ( max-width : 360px ) {

  .text {
    text-decoration: line-through solid black;
  }

  .recipeInProgressContainer {
    height: 100vh;
  }

  .checkboxContainer {
    border: 1px solid #b1b1b1;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px auto;
    padding: 20px;
    padding-right: 20px;
    top: 360px;
    width: 90%;
  }

  .ingredient {
    margin-top: 10px;
    text-align: center;

  }

  /* .share-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    top: 25px;
  } */

  /* .favorite-recipe-btn {
    background-color: rgba(0, 0, 0, 0.384);
    position: absolute;
    top: 25px;
  } */

  input[ type = 'checkbox' ] {
    accent-color: #fcc436;

  }

  .finish-btn-box {
    display: flex;
    justify-content: center;
  }

  .finish-btn {
    align-items: center;
    background-color: #fcc436;
    border: none;
    border-radius: 10px;
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 700;
    height: 40px;
    justify-content: center;
    left: 12.5px;
    letter-spacing: 1px;
    margin: 10px;
    width: 150px;
    word-spacing: 2px;
    z-index: 100;
  }

  .checked {
    margin-right: 10px;
  }
}
